<!doctype html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="style/main.css" media="screen" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/codemirror/4.5.0/codemirror.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/services.js"></script>
	<script src="https://cdn.jsdelivr.net/codemirror/4.5.0/codemirror.min.js"></script>
</head>
<body>
	<div id='prev_chat'></div>
	<typing-point></typing-point>
	<div id="code_editor" ng-show="get_show()" ng-controller="EditorController" >
		<button ng-click="add()">add</button>
		<button ng-click="cancel()">cancel</button>
	</div>
</body>
<script>
  
</script>
</html>